*{margin: 0;padding: 0; box-sizing: border-box;}


body{
    /* overflow-y: hidden; */
    overflow-x: hidden;
    font-family: poppins;
    background-color: rgb(44, 41, 41);
    /* background-color: white; */
    

    /* background-image: url(../images/black\ solid\ texture.png); */

    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}

.navBar{
    height: 55px;
    width: 100vw;
    /* background-color: rgb(163, 151, 236); */
    background-color: rgb(44, 41, 41);
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
    position: fixed;
    top:0;
    z-index: 10;
}

.navBar .port{
    font-size: 30px;
    font-weight: 800;
    margin-left: 50px;
    color: white;
    /* border: solid green; */
}

.navBar ul{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 50px;
    /* border: solid red; */
    gap: 60px;
}



.navBar ul li a{
    color: white;
    /* color: white; */
    font-size: 25px;
    text-decoration: none;
}

.navBar ul li  :hover{
    color: aqua;
    transition: color;
    transition-duration: .7s;
    
}







/* home file css */

.home{
    height: 658px;
    /* background-color: rgb(163, 151, 236); */
    /* border: solid red; */
}

.home .content{
    color: white;
    /* border: solid red; */
    width: 550px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 70px;
    gap: 20px;
}


.home .content #H{
    /* background-color: white; */
    color: white;
    /* color: white; */
    font-size: 22px;
    /* border: solid red; */
}
.home .content #H span{
    background-color: white;
    color: black;
    padding: 3px;
}
.home .content #R{
    color:rgb(255, 255, 255);
    font-size: 60px;
    /* border: solid red; */
}

.home .content #P{
    color: rgb(255, 255, 255);
    font-size: 25px;
    /* border: solid red; */
}

.home .RA{
    /* border: solid rgb(57, 211, 159) ; */
    width: 50%;
    display: flex;
    justify-content: start;
    padding-left: 50px;
    gap: 60px;
    align-self: flex-end;
    margin-left: 40px;


}

.home  .RA .box{
    width: fit-content;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 3px;
    align-self: flex-end;
}

.home  .RA .box a{
    text-decoration: none;
    color : black;
    font-size: 13px;
}

.home .links{
    /* border: solid rgb(57, 211, 159); */
    width: 27%;
    margin-left: 40px;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
    /* position: relative; */
    /* bottom: 74px; */
    /* left: 280px; */

}

.home .links a{
    color: white;
    text-decoration: none;
    /* border: solid red; */
    font-size: 25px;
   
}

.home>:last-child{
    height: 8%;
    width: 9%;
    /* border: solid red; */
    transform: translate(1050px,-50px);
}













/* about file css */



.about{
    height: 658px;
    width: 100vw;
    /* border: solid red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.about .left{
    /* border: solid red ; */
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.about .left .image{
    height: 100%;
    width: 100%;       
    /* border: solid blue; */
    background-image: url(./images/aboutimgfinal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.about .right{
    /* border: solid red ; */
    width: 55%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about .right .aboutskill{
    text-align: start;
    font-weight: 700;
}
.about .right p{
    color: white;
    font-size: 18px;
}


















/* skills file css */

.skillsec{
    /* border: solid red; */
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: white;
    padding-top: 40px;
    /* text-decoration: underline; */
    /* border: solid red; */
}



.skillBoxes{
    display: grid;
    height: 80%;
    width: 100vw;
    /* border: solid green; */
    grid-template-rows:repeat(2,1fr) ;
    grid-template-columns:repeat(3,1fr) ;
    gap: 25px;
    padding:33px 55px;
}

.skillBoxes .pl{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #635F5F;
    padding: auto;
    box-shadow: 2px 2px 5px 2px rgb(27, 27, 27);
    border: solid .5px rgb(58, 56, 56);
    flex-direction: column;
    /* border: solid red ; */
}

.skillBoxes .pl:hover{
    transform: scale(1.1);
    transition-duration:1s ;
    /* box-shadow: 0px 0px 10px 3px aqua; */
    background-color: rgb(62, 150, 150);
}

.skillBoxes .pl .txt{
    color: white;
    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
    /* border: solid red; */
}

.skillBoxes .pl .image{
    font-size: 90px;
    color: white;
    /* border: solid red; */
}

.skillBoxes .pl .rating{
    /* border: solid red; */
    position: relative;
    bottom: 10px;
    color: white;
}


.skillBoxes .pl .image img{
    height: 100px;
    width: 100px;
    /* border: solid black; */
}


.skillBoxes .pl .image #html{
    height: 90px;
    width: 160px;
    /* border: solid red; */
}

.skillBoxes .pl .image #dj{
    height: 85px;
    width: 85px;
    /* border: solid red; */
}

.skillBoxes .pl .image #sql{
    height: 85px;
    width: 75px;
    /* border: solid red; */
}

.skillBoxes .pl .rating i{
    color: gold;
}















/* project file css */

.project{
    height: 1300px;
    width: 100vw;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}

.project .projectboxes{
    height: 300px;
    width: 85%;
    border: solid rgb(71, 68, 68);
    background-color: #635F5F;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: solid red; */
}

.project .projectboxes p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
    /* border: solid blue; */
}

.project .projectboxes .one{
    color: white;
    padding-left: 35px;
    padding-top: 15px;
    /* border: solid red; */
}

.project .projectboxes .two{
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
}

.project .projectboxes .one li a{
    color: white;
}
















/* Contact file css */

.formcontent{
    width: 100%;
    height: 658px;
    display: flex;
    /* border: solid  red; */
    font-family: poppins;

}


.formcontent .left{
    width: 50%;
    height: 100%;
    display: flex;
    /* border: solid blue ; */
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* padding-top: 125px; */
    
}

.formcontent .left .contact{
    width: 380px;
    color: white;
    /* border :solid green; */
    font-size: 48px;
    text-align: end;
    padding-right:60px ;
    font-weight: 600;
    transform: translateY(220%);
}

.formcontent .left .cnt{
    color: white;
    width: 380px;
    transform: translateY(550%);
    /* border: solid red; */
    text-align: end;
    font-size: 18px;
    padding-right: 27px;

}
.formcontent .right{
    width: 42%;
    height: 100%;
    display: flex;
    /* border: solid blue ; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
    
}

.formcontent .right input{
    width: 100%;
    height: 45px;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(99, 95, 95);
    color: rgb(180, 175, 175);
    outline: none;
    border: solid .5px rgb(58, 56, 56);
    box-shadow: 2px 2px 5px 2px rgb(27, 27, 27);
    /* border: solid red; */
    
}

::-webkit-input-placeholder{
    color:rgb(180, 175, 175);
}

.formcontent .right .msg{
    height: 120px;
}

.formcontent .right button{
    margin: 10px 20px;
    padding: 5px;
    box-shadow: 2px 2px 5px 2px rgb(27, 27, 27);

}































