
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=M+PLUS+1+Code:wght@100..700&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=M+PLUS+1+Code:wght@100..700&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=M+PLUS+1+Code:wght@100..700&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Distressed&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;}


body{
    overflow-x: hidden;
    font-family: poppins;
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(45deg , purple, rgba(0, 255, 255, 0.637) ,#cf5665, #8176d4,pink);
    background-size: 100% 100%;
    animation: color 12s ease-in-out infinite;
    font-family: "Poppins", sans-serif;
}



@keyframes color {
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 100% 50%;
        
    }
    50%{
        background-position: 0 50%;
    }
    75%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.navBar{
    height: 55px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
    position: fixed;
    top:0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    z-index: 10;    
}

.navBar .port{
    font-size: 30px;
    font-weight: 800;
    margin-left: 50px;
    color: white;
    color: black;
    /* border: solid green; */
}

.navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    /* border: solid red; */
    gap: 60px;
}



.navBar ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    
}

.navBar ul li  :hover{
    color: aqua;
    transition: color;
    transition-duration: .7s;
    
}







/* home file css */

.home{
    height: 658px;

}




.home .content{
    color: white;
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 40px;
    margin-top: 50px;
    font-weight: 700;
}


.home .content .image img {
    border: solid 1px black;
    /* border-style: dotted; */
    border-radius: 50%;
    position: relative;
    height: 400px;
    width: 380px;
    margin-right: 100px;
    top: 60px;
}



.home .content #H{
    color: rgb(0, 0, 0);
    font-size: 22px;
    /* border: solid red; */
}


.home .content #H span{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 3px;
}


.home .content #R{
    color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 60px;
    /* border: solid red; */
}

.home .content #P{
    color: rgb(0, 0, 0);
    font-size: 25px;
    /* border: solid red; */
}

.home .RA{
    /* border: solid rgb(57, 211, 159) ; */
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 60px;
    align-self: flex-end;
    padding-left: 50px;
    margin-left: 40px;


}

.home  .RA .box{
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 3px;
    align-self: flex-end;
}

.home  .RA .box a{
    text-decoration: none;
    color : rgb(255, 255, 255);
    font-size: 13px;
}

.home .links{
    /* border: solid rgb(57, 211, 159); */
    width: 27%;
    margin-left: 40px;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
    /* position: relative; */
    /* bottom: 74px; */
    /* left: 280px; */

}

.home .links a{
    color: white;
    text-decoration: none;
    border: solid red;
    font-size: 25px;
   
}













/* about file css */



.about{
    height: 658px;
    width: 100vw;
    /* border: solid red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about .aboutbox{
    display: flex;
    /* border :solid rgb(0, 0, 0); */
    /* border :solid white; */
    justify-content: center;
    align-items: center;
    margin: 80px 90px;
    background-color: rgba(41, 35, 35, 0.555);
    /* background-color: white; */
    color: white;
}
.about .left{
    /* border: solid red ; */
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.about .left .image{
    height: 80%;
    width: 80%;       
    /* border: solid blue; */
    background-image: url(./images/rohit.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.about .right{
    /* border: solid rgb(255, 255, 255) ; */
    width: 55%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about .right .aboutskill{
    text-align: center;
    font-weight: 700;
    /* border: solid rgb(255, 0, 0); */
    color: rgb(255, 255, 255);
    padding-top: 0px;
    font-size: 35px;
}
.about .right p{
    /* color: rgb(0, 0, 0); */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
























/* skills file css */

.skillsec{
    /* border: solid red; */
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills{
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;


}



.skillBoxes{
    display: grid;
    height: 80%;
    width: 100vw;
    /* border: solid green; */
    grid-template-rows:repeat(2,1fr) ;
    grid-template-columns:repeat(3,1fr) ;
    gap: 15px;
    padding:65px 55px;
    position: relative;
}

.skillBoxes .pl{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #e7d88100;
    padding: auto;
    flex-direction: column;
    cursor: pointer;
    /* border: solid black ; */
}


#blur{
    transition: 0.7s;
}

#blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    padding: 30px 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: rgb(243, 239, 239);
    visibility: hidden;
    opacity: 0;
    transform: 0.5s;
    /* border: solid red; */
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}


#popup #cross{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#popup #cross h2{
    padding: 5px;
    /* border: solid red ; */
    text-decoration: underline;
    

}

#popup #skillList{
    /* border: solid red; */
    padding-top: 5px;
    

}

#popup #cross img{
    height: 20px;
    width: 23px;
    position: relative;
    bottom: 40px;
    left: 20px;
}





.skillBoxes .pl .txt{
    color: rgb(0, 0, 0);
    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
    /* border: solid red; */
}

.skillBoxes .pl .image{
    font-size: 90px;
    color: white;
    /* border: solid red; */
}

.skillBoxes .pl .rating{
    /* border: solid red; */
    position: relative;
    bottom: 10px;
}

.skillBoxes .pl .rating img{
    color: gold;
    position: relative;
    height: 23px;
    width:  23px;
}



.skillBoxes .pl .image img{
    height: 100px;
    width: 100px;
    /* border: solid black; */
}


.skillBoxes .pl .image #html{
    height: 90px;
    width: 160px;
    /* border: solid red; */
}

.skillBoxes .pl .image #dj{
    height: 85px;
    width: 85px;
    /* border: solid red; */
}

.skillBoxes .pl .image #sql{
    height: 85px;
    width: 75px;
    /* border: solid red; */
}

















/* project file css */

.project{
    height: 1300px;
    width: 100vw;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}

.project .projectboxes{
    height: 300px;
    width: 85%;
    /* border: solid rgb(71, 68, 68); */
    background-color: #ffffff77;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    /* border: solid red; */
    position: relative;
}

.project .projectboxes p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
    /* border: solid blue; */
}

.project .projectboxes .one{
    color: rgb(0, 0, 0);
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 5px;
    /* border: solid red; */
}

.project .projectboxes .three{
    color: rgb(0, 0, 0);
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 5px;
    font-size: 18px;
    /* border: solid red; */
}
.project .projectboxes .two{
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
    /* border: solid red; */
}


.project .projectboxes .one li a{
    color: rgb(0, 0, 0);
}
























































/* Contact file css */

.formcontent{
    width: 100%;
    height: 658px;
    display: flex;
    /* border: solid  red; */
    font-family: poppins;

}


.formcontent .left{
    width: 50%;
    height: 100%;
    display: flex;
    /* border: solid blue ; */
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* padding-top: 125px; */
    
}

.formcontent .left .contact{
    width: 380px;
    color: rgb(0, 0, 0);
    /* border :solid green; */
    font-size: 48px;
    text-align: end;
    padding-right:60px ;
    font-weight: 600;
    transform: translateY(220%);
}

.formcontent .left .cnt{
    color: rgb(0, 0, 0);
    width: 380px;
    transform: translateY(550%);
    /* border: solid red; */
    text-align: end;
    font-size: 18px;
    padding-right: 27px;

}
.formcontent .right{
    width: 42%;
    height: 100%;
    /* display: flex; */
    /* border: solid blue ; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
    
}
.formcontent .right form{
    height: 70%;
    width: 100%;
    /* border: solid red; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}


.formcontent .right form input{
    width: 100%;
    height: 45px;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    gap: 20px;
    /* border: solid red; */
    box-shadow: 2px 2px 10px 2px rgb(32, 32, 32);
    transform: translateY(-5px);
    transition-duration: 0.5s;
    
}

::-webkit-input-placeholder{
    color:rgb(0, 0, 0);
}

.formcontent .right form .msg{
    height: 120px;
}

.formcontent .right form button{
    margin: 10px 20px;
    padding: 5px;
    box-shadow: 2px 2px 5px 2px rgb(27, 27, 27);
    width: 80px;
    

}































